@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Todas las semillas que vendemos van envasadas cumpliendo normas y reglas de la C.E, la información de los gramos o semillas que lleva, la verá en la descripción del producto.</p>
